{% extends 'App::base.html.twig' %}

{% block content %}

<h1>Update the cheese {{ cheese.name }}</h1>

{{ 
    bootstrap_form(
        form, 
        'app_cheeses_show', 
        {
            parameters: {
                name: cheese.name
            },
            buttons: {
                submit: null,
                reset:  null
            }
        }
    )
}}

{{ bootstrap_button('TEST', { href: 'http://google.fr' })|raw }}

{#
<form action="{{ path('app_cheeses_update', {'name': cheese.name}) }}" {{ form_enctype(form) }} method="POST">
    <input type="hidden" name="_method" value="PUT" />

    {{ form_widget(form) }}

    <div class="form-horizontal">
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-success" value="Update" />
                <a href="{{ path('app_cheeses_show', {'name': cheese.name}) }}" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>

</form>
#}

{% endblock %}
