{% extends 'App::base.html.twig' %}

{% block toolbar %}
    {{ parent() }}
    <li class="">
        <a href="{{ path('app_cheeses_edit', { 'name': cheese.name }) }}"><i class="icon-pencil"></i> Edit this cheese</a>
    </li>
    <li class="">
        <form method="post" action="{{ path('app_cheeses_delete', {name: cheese.name}) }}" style="margin:0" >
            <input type="hidden" name="_method" value="DELETE" /> 
            <button type="submit" class="btn btn-link" style="color:inherit;text-decoration:inherit;">
                <i class="icon-remove-sign"></i> Delete this cheese
            </button>
        </form>
    </li>
{% endblock %}

{% block content %}

<div class="container-fluid cheese">
    <div class="row-fluid">
        <div class="span4">
            <img class="img-polaroid" src="{{ asset('bundles/app/img/cheeses/' ~ cheese.id ~ '.jpg') }}">
        </div>
        <div class="span6">
            <h1>{{ cheese.name }}</h1>
            <em>
                <a class="label label-info" href="{{ path('app_cheeses_indexMilk', {'milk': cheese.milk}) }}">
                    {{ cheese.milk }}
                </a>
                &nbsp;cheese from&nbsp;
                <a class="label label-info" href="{{ path('app_cheeses_indexRegion', {'region': cheese.region}) }}">
                    {{ cheese.region }}
                </a>
            </em>

            <p>Rating: {% for star in range(1, cheese.score) %}<span>★</span>{% endfor %} <small>(Evaluated {{ cheese.totalVote }} times)</small></p>

            <div class="rating">
                <a href="{{ path('app_cheeses_rate', {'name': cheese.name, 'score': 5}) }}">☆</a>
                <a href="{{ path('app_cheeses_rate', {'name': cheese.name, 'score': 4}) }}">☆</a>
                <a href="{{ path('app_cheeses_rate', {'name': cheese.name, 'score': 3}) }}">☆</a>
                <a href="{{ path('app_cheeses_rate', {'name': cheese.name, 'score': 2}) }}">☆</a>
                <a href="{{ path('app_cheeses_rate', {'name': cheese.name, 'score': 1}) }}">☆</a>
            </div>

            <footer>
                <a class="btn btn-info" href="{{ path('app_cheeses_index') }}">Back to homepage</a>
            </footer>
        </div>
    </div>
</div>

{% endblock %}
