{% extends 'KnpRadBundle:Bootstrap:twitter_bootstrap.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style.css') }}" />
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <span class="brand">Cheese Factory</span>
                <div>
                    <ul class="nav">
                    {% block toolbar %}
                        <li class="">
                            <a href="{{ path('app_cheeses_index') }}"><i class="icon-home"></i> Home</a>
                        </li>
                        <li class="">
                            <a href="{{ path('app_cheeses_admin') }}"><i class="icon-wrench"></i> Administration</a>
                        </li>
                        <li class="">
                            <a href="{{ path('app_cheeses_new') }}"><i class="icon-plus"></i> Add a new cheese</a>
                        </li>
                    {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span2">
                {% render 'App:Cheeses:listRegion' %}
                {% render 'App:Cheeses:listMilk' %}
            </div>
            <div class="span10">
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/app.js') }}"></script>
{% endblock %}
