{% extends '::base.html.twig' %}

{% block title %}{% block subtitle %}{% endblock subtitle %} :: Cheeses{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/app.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <span class="brand">Cheese Factory</span>
                <div>
                    {{ knp_menu_render('App:Menu:navbar', {'currentClass':'active'}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span2">
                {% render 'App:Cheeses:listRegion' %}
                {% render 'App:Cheeses:listMilk' %}
            </div>
            <div class="span10">
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
